/* Main Content Section */
.content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin-top: 150px;
    gap: 32px;
    padding: 0 32px;
    text-align: center;
}

.main-content {
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    gap: 32px;
    padding: 15px 32px;
    margin-bottom: 270px;
    text-align: center;
}

.main-title {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Shojumaru', sans-serif;
    color: #7789FF;
    text-shadow:
        0 0 7px #111A7C,
        0 0 10px #111A7C,
        0 0 21px #111A7C,
        0 0 42px #7789FF,
        0 0 82px #7789FF;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.error {
    width: 100%;
    text-align: center;
    display: block;
    color: #FF948A;
    font-family: 'Mina', sans-serif;
    font-size: 16px;
}

#content {
    height: 175px;
    padding-top: 10px;
    line-height: 1.5;
    resize: vertical;
}

.post-button {
    padding: 8px 48px;
}


.post-button:hover {
    background: #28a745;
    color: #FFFFFF;
}

/* Tag styles */
.tag {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 8px;
    display: inline-block;
}

.category-box {
    cursor: pointer;
}

.category-box:hover {
    background-color: #767676;
    color: black
}

/* Post Actions */
.post-actions {
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

.report-button,
.delete-button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: #FF948A;
    color: #10091B;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=checkbox] {
    display: none;
}

input:checked+label {
    color: black;
    background-color: #b4b4b4;
    box-shadow: 0 0 24px #fe9af8, inset 0 0 24px #FE9AF8;
}

.content {
    resize: none;
}