/* Main Content Section */
.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: fit-content;
    gap: 32px;
    padding: 15px 32px;
    text-align: center;
}



.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.error {
    width: 100%;
    text-align: center;
    display: block;
    color: #FF948A;
    font-family: 'Mina', sans-serif;
    font-size: 16px;
}

#content {
    height: 175px;
    padding-top: 10px;
    line-height: 1.5;
    resize: vertical;
}

.post-button {
    padding: 8px 48px;
}


.post-button:hover {
    background: #28a745;
    color: #FFFFFF;
}

/* Tag styles */
.tag {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 8px;
    display: inline-block;
}

.category-box {
    cursor: pointer;
}

.category-box:hover {
    background-color: #767676;
    color: black
}

/* Post Actions */
.post-actions {
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

.report-button,
.delete-button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: #FF948A;
    color: #10091B;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=checkbox] {
    display: none;
}

input:checked+label {
    color: black;
    background-color: #b4b4b4;
    box-shadow: 0 0 24px #fe9af8, inset 0 0 24px #FE9AF8;
}

.content {
    resize: none;
}
/* Masquer le bouton natif de l'input */
.upload-button {
    display: none; /* Cache l'élément natif */
  }
  
  /* Style du bouton personnalisé */
  .custom-upload-button {
    display: flex;
    align-items: center;
    background-color: #10091b;
    border: 2px solid #ffc4fb;
    width: fit-content;
    padding: 6px 12px;
    margin: 4px 0;
    font-size: 1rem;
    text-align: center;
    border-radius: 52px;
    color: #ffc4fb;
    caret-color: #ffc4fb;
    transition: border-color 0.3s ease;
    box-shadow:
        0 0 7px #FE9AF8,
        inset 0 0 4px #FE9AF8;

    transition: background-color 0.3s ease;
  }
  
  /* Effet hover */
  .custom-upload-button:hover {
    box-shadow: 0 0 16px #FE9AF8;
    outline: none;
    background-color: #FE9AF8;
    color: #10091b;
    .check-icon{
        fill:#10091b;
    }
    cursor: pointer; /* Couleur légèrement plus foncée au survol */
  }
  .check-icon {
    fill:#FE9AF8;
  }