/* Importation des polices */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */

/* General Styles */
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    /* background-color: #10091B; */
    color: #FFFFFF;
}

body {
    gap: 16px;
    align-items: center;
    background-image: url(/assets/img/13.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: overlay;
}
::selection {
    background: #FFC4FB;
    color: #10091B;
}
.welcome {
    font-size: 1.25rem;
}

/* Footer Section */
.footer-section {
    width: 100%;
    height: 48px;
    background: #10091B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-text {
    font-family: 'Mina', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    a{
        color: #FFC4FB;
        font-weight: 600;
        text-decoration: underline;
    }
}
.content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding: 15px 32px;
    text-align: center;
}
.main-title {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Shojumaru', sans-serif;
    color: #7789FF;
    text-shadow:
        0 0 7px #111A7C,
        0 0 10px #111A7C,
        0 0 21px #111A7C,
        0 0 42px #7789FF,
        0 0 82px #7789FF;
}
.title {
    font-family: "Shojumaru";
    color: #7789FF;
    text-shadow:
        0 0 7px #111A7C,
        0 0 10px #111A7C,
        0 0 21px #111A7C,
        0 0 42px #7789FF,
        0 0 82px #7789FF;
    font-size: 27px;
    margin-top: -4%;
}

.error-message {
    color: #FF948A;
    font-family: 'Mina', sans-serif;
    font-size: 32px;
    text-align: center;
}

/*******************************************************************/
/*************************** Text Form *****************************/
/*******************************************************************/

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #FFC4FB;
    border-radius: 24px;
    font-size: 16px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    background: rgba(51, 10, 94, 80%);
    box-shadow: 0px 0px 24px #FE9AF8, inset 0px 0px 24px #FE9AF8;
    box-sizing: border-box;
    vertical-align: top;
}

input::placeholder,
textarea::placeholder {
    font-size: 16px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    vertical-align: top;
}

label {
    font-size: 1.25em;
    color: #ffc4fb;
    text-shadow:
        0 0 7px #FE9AF8;
    margin-top: 8px;
    display: block;
    text-align: left;
    font-family: 'Mina', sans-serif;
    margin-bottom: 0px;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

/*******************************************************************/
/************************** Global Boxes ***************************/
/*******************************************************************/

.global-box {
    border-radius: 24px;
    border: 2px solid #7789FF;
    background: rgba(16, 9, 27, 0.80);
    box-shadow: 0px 0px 24px #102FF9, inset 0px 0px 24px #102FF9;
}

/*******************************************************************/
/************************** LIKE/DISLIKES **************************/
/*******************************************************************/

.vote-button {
    /* padding: 4px 8px; */
    border-radius: 18px;
    background: transparent;
    /* border: 1px solid #BBFFC7; */
    /* box-shadow: 0px 0px 12px #88F49C; */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    padding: 4px 4px;
    border: none;
    border-radius: 12px;
    stroke: #56c76a;
    color: #56c76a;

    p {
        margin: 0;
        padding: 0;
    }
}


.like-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: inset 0px 0px 8px #102FF9, 0px 0px 8px #102FF9;
    width: fit-content;
}

.vote-button img {
    width: 24px;
    height: auto;
}

#like-count {
    font-family: 'Mina', sans-serif;
    color: #56c76a;
    min-width: 9px;
}

#dislike-count {
    font-family: 'Mina', sans-serif;
    color: #FF948A;
    min-width: 9px;
}
.liked {
   svg {
       fill: #BBFFC7;
   }
}
.disliked {
    svg {
        fill: #FF948A;
        stroke: #FE5454;
    }
}
.vote-button:hover {
    cursor: pointer;
    stroke: #BBFFC7;

    #like-count {
        color: #BBFFC7;
    }
}

.downvote {
    /* padding: 4px 8px; */
    border-radius: 18px;
    /* background: #170F22; */
    /* border: 1px solid #BBFFC7; */
    /* box-shadow: 0px 0px 12px #88F49C; */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    padding: 4px 4px;
    border: none;
    border-radius: 12px;
    stroke: #FF948A;
    color: #FF948A;

    p {
        margin: 0;
        padding: 0;
    }

}

.downvote:hover {
    cursor: pointer;
    stroke: #FE5454;

    #dislike-count {
        color: #FE5454;
    }
}


/*******************************************************************/
/***************************** BUTTONS *****************************/
/*******************************************************************/

.button {
    padding: 12px;
    background: rgba(51, 10, 94, 80%);
    border-radius: 16px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: #BBFFC7;
    border: 1px solid #BBFFC7;
    box-shadow: 0px 0px 24px #88F49C, inset 0px 0px 24px #88F49C;
    text-shadow: 0px 0px 24px #88F49C;
}

/*******************************************************************/
/************************* CATEGORY BOXES **************************/
/*******************************************************************/

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-box {
    padding: 4px 8px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #767676;
    color: white;
    font-family: 'Mina', sans-serif;
    font-size: 12px;
    transition: background-color 0.3s;
}

/*******************************************************************/
/************************** CUSTOM MEDIA ***************************/
/*******************************************************************/

@media (max-width: 768px) {


    .container {
        width: 98%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

img,
video {
    max-width: 100%;
    height: auto;
}

/*******************************************************************/
/************************** CUSTOM WEBKIT **************************/
/*******************************************************************/

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 16px;
    /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: rgba(16, 9, 27);
    /* Color of the scrollbar track */
    border-radius: 0px;
    /* Optional: round edges of the track */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: rgb(16, 9, 27);
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Round edges of the thumb */
    border: 2px solid #FE9AF8;
    box-shadow: 0 0 12px #FE9AF8, inset 0 0 12px #FE9AF8;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    /* background-color: #555; Color when hovering over the thumb */
    box-shadow: 0 0 24px #FE9AF8, inset 0 0 24px #FE9AF8;
}

/* Custom scrollbar resizer */
::-webkit-resizer {
    background-color: rgba(16, 9, 27);
    border: 1px solid #FE9AF8;
    border-radius: 20px;
    box-shadow: 0 0 12px #FE9AF8, inset 0 0 12px #FE9AF8;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
    /* border: 1px solid #FE9AF8;
    border-radius: 20px;
    box-shadow: 0 0 12px #FE9AF8, inset 0 0 12px #FE9AF8;
    display: none; */
}

.scroll::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

.wrapper {
    overflow: hidden;
    border-radius: 8px;
    /* Définis la valeur souhaitée */
    display: inline-block;
    /* Pour adapter la taille du conteneur au textarea */
}