/* Main Content Section */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
    padding: 15px 32px;
    text-align: center;
}


.tabs {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 20px;
    padding: 1px 32px;
    background-color: rgb(16, 9, 27);
    align-items: center;
}

.tab {
    padding: 4px 16px;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 1.25rem;
    font-family: 'Mina', sans-serif;
    display: flex;
    /* border-radius: 24px; */
    transition: all 0.3s ease;
}

.icon {
    stroke: white;
}

.active {
    border: 2px solid #FFC4FB;
    color: #FFC4FB;
    border-radius: 24px;
    box-shadow: 0px 0px 12px #FE9AF8, inset 0px 0px 12px #FE9AF8;

    .icon {
        stroke: #FFC4FB;
    }
}

.tab:hover {
    border: 2px solid #FFC4FB;
    color: #FFC4FB;
    border-radius: 24px;
    box-shadow: 0px 0px 12px #FE9AF8, inset 0px 0px 12px #FE9AF8;

    .icon {
        stroke: #FFC4FB;
    }
}

.main-content {
    display: flex;
    gap: 20px;
    width: 90%;
    font-family: 'Mina', 'sans-serif';
}

/* Filters Section */
.filters-section {
    /*background: #170F22;*/
    border: 2px solid #FFC4FB;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    box-shadow: 0px 0px 24px #FE9AF8, inset 0px 0px 24px #FE9AF8;
    border-radius: 24px;
    width: 256px;
    padding: 16px 12px;
    height: fit-content;
    background-color: rgba(15, 7, 53, 0.842);
    position: absolute;
}

.filters-title {
    font-size: 20px;
    text-align: center;
}

.filter-category {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    background: #10091B;
    color: #7789FF;
    border: 1px solid #7789FF;
    box-shadow: 0px 0px 24px #102FF9, inset 0px 0px 24px #102FF9;
    border-radius: 12px;
    font-family: 'Mina', sans-serif;
}

.btn-reset {
    gap: 8px;
    font-size: 16px;
    font-family: 'Mina', sans-serif;
    display: flex;
    color: #FF948A;
    border: 1px solid #FF948A;
    box-shadow: 0px 0px 12px #FE5454, inset 0px 0px 12px #FE5454;
    background-color: #10091B;
    text-shadow: 0px 0px 12px #FE5454;
    border-radius: 16px;
    padding: 0px 32px;
    width: fit-content;
}

.btn-reset:hover {
    background: #FE5454;
    color: #FFFFFF;
}

/* Post List Section */
.post-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 295px;
}

.post-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #10091B;
    border: 1px solid #7789FF;
    box-shadow: 0px 0px 24px #102FF9, inset 0px 0px 24px #102FF9;
    border-radius: 16px;
}

.post-title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: left;
}

.post-meta {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: 200;
    font-size: 16px;
}

.comment-count {
    font-weight: 300;
}

/* Misc Section containing Like/Dislikes, Tags and Actions */

.misc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

}

.vote-tags-container {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Espace entre les boutons de vote et les tags */
}

/* Tag styles */
.tags {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 8px;
}

.tag {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    margin-right: 8px;
    margin-top: 8px;
    display: inline-block;
}

/* Post Actions */
.post-actions {
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

.report {
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    background: rgba(51, 10, 94, 80%);
    color: #FF948A;
    border: 1px solid #FF948A;
    box-shadow: 0px 0px 24px #FE5454, inset 0px 0px 24px #FE5454;
    text-shadow: 0px 0px 24px #FE5454;
    cursor: pointer;
    font-family: 'Mina', sans-serif;

}

.report:hover {
    background-color: #FE5454;
    color: #FFFFFF;
}

.delete-button {
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    stroke: #FF948A;
    color: #FF948A;
    background: rgba(51, 10, 94, 80%);
    border: 1px solid #FF948A;
    box-shadow: 0px 0px 24px #FE5454, inset 0px 0px 24px #FE5454;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #FE5454;
    color: #FFFFFF;
    stroke: white
}



@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .filters-section {
        width: 95%;
    }

    .post-list {
        width: 100%;
    }
}