.content-wrapper{
    gap:48px;
    font-family: 'Mina',sans-serif;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    height: 50%;
    padding: 12px;
    align-items: center;
    button{
        width: auto;
        margin: auto;
    }
    textarea{
        width:80%;
        resize: none;
    }
}

.Requests{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Requests>div:first-child{
    margin-bottom: 16px;
}

.modRequest-card{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 16px;
    box-sizing: border-box;
}
.modRequest-card-header{
    display: flex;
    justify-content: space-between;
}
.modRequest-card-body{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.modRequest-card-footer{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}
.modRequest-card-title{
    display: flex;
    gap: 4px;
    font-weight: 600;
}
.japonais{
    color: #FFC4FB;
}

hr {
    color: #7789FF;
    box-shadow: 0px 0px 16px #102FF9;
    background-color: #7789FF;
    height: 2px;
    border-width: 0;
    margin-top: 12px;
    width: 100%;
}

.form-header{
 display: flex;
 flex-direction: column;
 width: 100%;
}

.margin-0{
    margin: 0;
}

a{
    color: #FFC4FB;
    font-weight: 500;
    text-decoration: underline;
}

.pending{
    color:#e7a349;
}
.accepted{
    color:#56c76a;
}
.rejected{
    color:#FF948A;
}

@media (min-width: 768px) {
    .modRequest-card {
        width: 80vw;
    }
}
@media (min-width: 1000px){
    .modRequest-card{
        width: 60vw;
    }
}
