.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 90%; */
    /* margin-top: 150px; */
    /* gap: 32px; */
    /* padding: 15px 32px; */
    text-align: center;
    border: 2px solid #7789FF;
    border-radius: 16px;
    background: rgba(16, 9, 27, 0.80);
    box-shadow: 0px 0px 24px #102FF9, inset 0px 0px 24px #102FF9;
}

.main-post-content {
    display: flex;
    width: 90%;
    margin : auto;
    gap: 16px;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70vw;
}

.post-content {
    /* display: flex; */
    /* align-items: left; */
    /* justify-content: left; */
    align-items: flex-start;
    min-height: 60vh;
    padding: 16px;
}


.content-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}


.comment-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width:30vw;
    /* width: 100%; */
}

.comment-header {
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

.comments-section {
    padding: 16px;
    gap: 16px;
    height:70vh;
    overflow: auto;
}

.comment-text, .comment-author {
    /* overflow: hidden; */
    flex-wrap: wrap ;
    width: auto;
    overflow-wrap: anywhere;
    padding: 4px 16px;
    
}

.comment {
    display: flex;
    flex-direction: column;
    /* margin: 0 16px; */
    border: 1px solid #7789FF;
    border-radius: 16px;
    /* gap: 16px; */
    width: 95%;
    padding: 8px;
    text-align: left;
}

.comment-form {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
    text-align: center;
}
#comment-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFC4FB;
    border-radius: 16px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: white ;
    background: rgba(16, 9, 27, 80%);    
    box-shadow: 0px 0px 24px #FE9AF8, inset 0px 0px 24px #FE9AF8;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 16px;
    resize: vertical;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 16px; /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: none; /* Color of the scrollbar track */
    border-radius: 10px; /* Optional: round edges of the track */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: rgba(16, 9, 27); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Round edges of the thumb */
    border: 2px solid #83c3ff;
    box-shadow: 0 0 12px #102FF9, inset 0 0 12px #102FF9;
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    /* background-color: #555; Color when hovering over the thumb */
    box-shadow: 0 0 24px #102FF9, inset 0 0 24px #102FF9;
}

::-webkit-resizer {
    background-color: rgba(16, 9, 27) ;
    border: 1px solid #FE9AF8;
    border-radius: 4px;
    box-shadow: 0 0 12px #FE9AF8, inset 0 0 12px #FE9AF8;  
}

#comment-form::placeholder {
    font-size: 16px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    vertical-align: top;
}

.tag {
    padding: 6px 12px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #767676;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}