.main-post-content {
    display: flex;
    width: 90%;
    margin: auto;
    gap: 8px;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 70vw;
}

.post-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.inner-post-content {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    width: 100%;
    height: 100%;
}


.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    font-family: 'Mina', sans-serif;
}

.ownComment {
    border: 1px solid #FFC4FB !important;
    box-shadow: 0px 0px 12px #FE9AF8, inset 0px 0px 8px #FE9AF8;

    hr {
        background-color: #FFC4FB !important;
    }

    .like-btn {
        border: 1px solid #FFC4FB;
        box-shadow: 0px 0px 12px #FE9AF8, inset 0px 0px 8px #FE9AF8;
    }
}

.write-comment-section{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}
.comment-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30vw;
    /* width: 100%; */
}
.post-footer-btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.image-container{
    display: flex;
}
.comment-image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;

}
.edit-form-post{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comments-header {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-family: 'Mina', sans-serif;

}

.comments-section {
    padding: 16px;
    gap: 16px;
    height: 67vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags-section {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.post-text {
    text-align: left;
    border: none;
    box-shadow: none;
    background-color: transparent;
    height: 100%;
    resize: vertical;
}
.edit-post-btns{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.comment {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* margin: 0 16px; */
    border: 1px solid #7789FF;
    border-radius: 16px;
    /* gap: 16px; */
    width: 100%;
    padding: 8px;
    text-align: left;

    hr {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #7789FF;
    }
}

.comment-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    align-items: flex-end;
}

#comment-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFC4FB;
    border-radius: 16px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: white;
    background: rgba(16, 9, 27, 80%);
    box-shadow: 0px 0px 24px #FE9AF8, inset 0px 0px 24px #FE9AF8;
    box-sizing: border-box;
    vertical-align: top;
    resize: vertical;
}
.button{
    height: fit-content;
}

#comment-form::placeholder {
    font-size: 16px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    vertical-align: top;
}


.category-box {
    cursor: default;
}

.category-box:hover {
    background-color: transparent;
    border: 1px solid #767676;
    color: white;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    form {
        display: flex;
        align-items: center;
    }
}

.comment-footer-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.comment-text {
    border: none;
    box-shadow: none;
    background-color: transparent;
    resize: vertical;
}

.plus-icon {
    fill: #FF948A;
    rotate: 45deg;
    transition: all 0.4s;
    width: 24px;
    height: 24px;
}

.check-icon {
    fill: #BBFFC7;
    display: flex;
    width: 24px;
    height: 24px
}

.delete-comment,
.edit-comment, .edit-post {
    padding: 4px;
    border-radius: 8px;
}

.edit-comment, .edit-post {
    display: none;
}

.delete-comment:hover .plus-icon,
.edit-comment:hover .check-icon {
    fill: white;

}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .comment-author {
        font-size: 1.25rem;
    }

}

@media (max-width: 768px) {
    .main-post-content {
        flex-direction: column;
        gap: 16px;
    }

    .post-container {
        width: 90vw;
    }

    .comment-container {
        width: 90vw;
    }

    .comments-section {
        height: auto;
        width: auto;
    }

    .comment-form{
        flex-direction: column;
        align-items: center;
        button {
            width: 100%;
        }
        
    }
}

.no-resize {
    resize: none;
}