.global-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
}

.main-post-content {
    display: flex;
    width: 90%;
    margin : auto;
    gap: 16px;
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70vw;
}

.post-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    min-height: 60vh;
    padding: 16px;
}

.inner-post-content {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    width: 100%;
}


.content-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}


.comment-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width:30vw;
    /* width: 100%; */
}

.comment-header {
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

.comments-section {
    padding: 16px;
    gap: 16px;
    height:70vh;
    overflow: auto;
}

.tags-section {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}



.comment-text, .comment-author {
    /* overflow: hidden; */
    flex-wrap: wrap ;
    width: auto;
    overflow-wrap: anywhere;
    padding: 4px 16px;
}

.post-text {
    text-align: left;
}

.comment {
    display: flex;
    flex-direction: column;
    /* margin: 0 16px; */
    border: 1px solid #7789FF;
    border-radius: 16px;
    /* gap: 16px; */
    width: 95%;
    padding: 8px;
    text-align: left;
}

.comment-form {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
    text-align: center;
}
#comment-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFC4FB;
    border-radius: 16px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: white ;
    background: rgba(16, 9, 27, 80%);    
    box-shadow: 0px 0px 24px #FE9AF8, inset 0px 0px 24px #FE9AF8;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 16px;
    resize: vertical;
}

#comment-form::placeholder {
    font-size: 16px;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    vertical-align: top;
}

.tag {
    padding: 6px 12px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #767676;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

@media (max-width: 768px) {
    .main-post-content {
        flex-direction: column;
        gap: 16px;
    }

    .post-container {
        width: 90vw;
    }

    .comment-container {
        width: 90vw;
    }

    .comments-section {
        height: auto;
        width: auto;
    }





}
