.title {
    font-family: "Shojumaru";
    color: #7789FF;
    text-shadow:
        0 0 7px #111A7C,
        0 0 10px #111A7C,
        0 0 21px #111A7C,
        0 0 42px #7789FF,
        0 0 82px #7789FF;
    font-size: 27px;
    margin-top: -4%;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #10091bD9;
    border: 2px solid #7789FF;
    border-radius: 52px;
    padding: 32px 32px;
    box-shadow:
        0 0 12px #102ff9,
        inset 0 0 7PX #102ff9;
    text-align: center;
    width: 24vw;
    min-width: 300px;
}

.btn-submit {
    margin-top: 16px;
}

label {
    font-size: 1.25em;
    color: #ffc4fb;
    text-shadow:
        0 0 7px #FE9AF8;
    margin-top: 8px;
    display: block;
    text-align: left;
}

button:hover {
    background-color: rgba(187, 255, 199, 0.8);
    border-radius: 16px;
    color: #10091b;
    cursor: pointer;
}

button {
    font-family: 'Manrope', sans-serif;
}

input {
    background-color: #10091b;
    border: 2px solid #ffc4fb;
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border-radius: 52px;
    color: rosybrown;
    caret-color: rosybrown;
    transition: border-color 0.3s ease;
    box-shadow:
        0 0 7px #FE9AF8,
        inset 0 0 4px #FE9AF8;


}

input::placeholder {
    color: rgba(255,196,251,0,4);
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 1rem;

}

input:focus {
    border-top: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
    outline: none;
}

p {
    font-family: 'Mina', sans-serif;
    color: white;
}

#not-register {
    color: #ffc4fb;
    text-decoration: none;
    font-weight: 600;
}


.error-message {
    color: red;
    font-size: 0.9em;
    margin: 0;
}
