<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniverse</title>
</head>
<body>
    <button style="background: none; border: none;"><a href="/" style="text-decoration: none;"><img src="./assets/img/logo.svg" alt="logo" style="width: 64px;">Aniverse</a></button>
    {{ if .User }}
    <h1>Hello {{ .User.Username}}</h1>
    <h2> {{ .User.SessionId.Value }}</h2>
    <form method="post" action="/logout"><input type="submit" value="logout"></form>
    {{ if eq .User.Role "admin" }}
    <a href="/users">Users</a>
    {{ end }}
    {{ else }}
    <h1>Hello Guest</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{ end }}
    
</body>
</html>