<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/createPost.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Create a Post</title>
</head>
<body>
    <!-- Header Section -->
<header class="header-section">
    <div class="logo-container">
      <div class="logo"><img src="../img/logo.png" alt="Logo Aniverse" width="50"></div>
      <div class="logo-text">Aniverse</div>
    </div>
    <div class="user-info">
        <span class="welcome-text">Welcome, John Doe</span>
        <div class="logout-button">
            <a href="#" class="logout-link">Log out</a>
        </div>
    </div>
  </header>

 <!-- Main Content Section -->
 <div class="main-content">
    <h1 class="main-title">New Post</h1>

    <form action="" method="post" class="form-section">
        <!-- Title Section-->
        <div class="form-group">
            <label for="title">Titre :</label>
            <input type=text name="title" id="title-form" placeholder="Insert your title here...">
        </div>

        <!-- Content Section-->
        <div class="form-group">
            <label for="content">Content :</label>
            <textarea name="content" id="content-form" placeholder="Write your post here..."></textarea>
        </div>

        <!-- Categories Section-->
        <div class="form-group">
            <label for="categories">Catégories :</label>
            <div class="categories">
                <div class="category-box">Shonen</div>
                <div class="category-box">Seinen</div>
                <div class="category-box">Shoujo</div>
                <div class="category-box">Naruto</div>
                <div class="category-box">Sword Art Online</div>
                <div class="category-box">Ecchi pour Momo</div>
                <div class="category-box">Spoil</div>
            </div>
        </div>

        <button class="post-button">Post</button>
    </form>
</div>
</body>
</html>