<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/assets/img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/register.css">
    <link rel="stylesheet" href="/assets/css/header.css">

    <title>Login</title>

</head>

<body>

            <!-- Header Section -->
<header class="header-section">
    <div class="logo-container">
      <div class="logo"><img src="/assets/img/logo.png" alt="Logo Aniverse" width="50"></div>
      <div class="logo-text">Aniverse</div>
    </div>
    <div class="user-info">
        {{ if .User }}
        <h1 class="welcome">Welcome {{ .User.Username}}</h1>
        <form method="post" action="/logout"><button class="logout-button" type="submit">Log out <svg id="logout-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24">
          <path d="M15 4L13.59 5.41L16.17 8H6V10H16.17L13.59 12.58L15 14L20 9M2 2H10V0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H10V16H2V2Z"/>
        </svg></button></form>
        <!-- <div class="logout-button">
            <a href="#" class="logout-link">Log out</a>
        </div> -->
        {{ if eq .User.Role "admin" }}
        <a href="/users">Users</a>
        {{ end }}
        {{ else }}
        <h1 class="welcome">Hello Guest</h1>
        <a class="button" href="/login">Login</a>
        <a class="button register" href="/register">Register</a>
        {{ end }}
      </div>
  </header>
    <div class="container">
    <form action="/login" method="post">
        <h1 class="title">Login</h1>
        
            {{ if .Error }}
            <p style="color: red;">{{ .Error }}</p>
            {{ end }}
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" value="{{ .email}}"required placeholder="Enter your email...">
        <label for="password">Password :</label>
        <input type="password" name="password" id="password" required placeholder="Enter your password...">
        <button class="button" type="submit">Login</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
    </div>
</body>

</html>