<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">

    <title>Login</title>

</head>

<body>
    
    <form action="/login" method="post">
        <h1>Login</h1>
        
            {{ if .Error }}
            <p style="color: red;">{{ .Error }}</p>
            {{ end }}
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{ .email}}"required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
</body>

</html>