<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/indexstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="../img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Shojumaru&display=swap" rel="stylesheet">

</head>

<body>
    <form action="/register" method="post">
        <h1>Register</h1>
        {{ if .username_used }}
        <p style="color:red;">{{ .username_used }}</p>
        {{ end }}
        {{ if .email_used }}
        <p style="color:red;">{{ .email_used }}</p>
        {{ end }}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="Confirmpassword">Confirm Password</label>
        <input type="password" name="Confirmpassword" id="Confirmpassword" required>
        <button type="submit">Sign up</button>
    </form>

</body>

</html>