<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/assets/img/logo.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mina:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/report.css">
  <title>Aniverse Homepage</title>
</head>

<body>
  <header class="header-section">
    <div class="logo-container">
      <a href="/">
        <div class="logo"><img src="/assets/img/logo.png" alt="Logo Aniverse" width="50"></div>
        <div class="logo-text">Aniverse</div>
      </a>
    </div>
    <div class="user-info">
      {{ if .User }}
      <h1 class="welcome">Welcome {{ .User.Username}}</h1>
      <form method="post" action="/logout">
        <button class="logout-button" type="submit"><span>Log out</span><svg id="logout-icon"
            xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24">
            <path
              d="M15 4L13.59 5.41L16.17 8H6V10H16.17L13.59 12.58L15 14L20 9M2 2H10V0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H10V16H2V2Z" />
          </svg></button>
      </form>
      <!-- <div class="logout-button">
              <a href="#" class="logout-link">Log out</a>
          </div> -->
      {{ if eq .User.Role "admin" }}
      <a class=button href="/adminPanel">Admin Panel</a>
      {{ end }}
      {{ else }}
      <h1 class="welcome">Guest</h1>
      <a class="button" href="/login">Login</a>
      <a class="button register" href="/register">Register</a>
      {{ end }}
    </div>
  </header>
  <h2>Give detail about the report issue</h2>
  <textarea class="report-text" name="reportcontent" id="reportcontent"
    placeholder="Explain your report, kindly and politely"></textarea>
  <!-- Footer Section -->
  <button class="button Report-button">Confirm Report</button>
  <footer class="footer-section">
    <div class="footer-text">Footer, licence</div>
  </footer>
</body>
</html>